.profile-page {
    display: flex;
    flex-direction: column;
    gap: 40px;
    padding: 20px;
}

.profile-top-section {
    display: grid;
    grid-template-columns: 220px 1fr;
    /* grid-template-columns: 180px 1fr; */
    gap: 30px;
    padding: 30px;
    align-items: flex-start;
}

.Left-sidebar {
    display: flex;
    justify-content: center;
}

.profile-avatar img {
    width: 200px;
    height: 200px;
    border-radius: 50%;
    background-color: #ccc;
    object-fit: cover;
}

.Right-sidebar {
    display: flex;
    flex-direction: column;
    gap: 16px;
    /* margin-left: 20px; */

}

.user-basic-info {
    display: flex;
    flex-direction: column;
    gap: 8px;
    /* padding-left: 30px; */
}

.profile-content-section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 35px;
}



@media (max-width: 768px) {
    .profile-top-section {
        grid-template-columns: 1fr;
        gap: 24px;
    }

    .Left-sidebar {
        justify-content: flex-start;
    }
}